html, body, #root {
  width:100%;
  height:100%;
  font-family: 'monospace';
}

button {
  outline: none;
}

.error-marker {
  position: absolute;
}

#APP {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: stretch;
}

#MAIN {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  overflow: hidden;
}

#CODE {  
  width: 50%;
  box-sizing: border-box;
      flex-grow: 1;
} 

#CENTER {
  border-left: 1px solid black;
  background-color: black;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

#CENTER button {
  padding: 5px;
  font-family: monospace;
  background-color: black;
  color: white;
  border: none;
}

#SELECTOR {
  display: flex;
  flex-flow: column;
}

#SELECTOR button{
  border-bottom: 1px solid white;
}

#TOOLS button {
  border-top: 1px solid white;
  /* padding-bottom: 10px; */
  /* font-size:1.2em; */
  color:white;
}

#TOOLS {
  display: flex;
  flex-flow: column;
}


#CENTER button:hover, 
.invert {
  background-color: white !important;
  color: black !important;
  /* border: none !important; */
  border-color: black !important;
}

#TOOLS button:hover {
  /* border: none !important; */
  border-color: black !important;
}

#OUTPUT {
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: black;
  color: white;
  white-space: pre-wrap;
  word-break: break-all;
  flex-grow: 1;
  font-family: monospace;
}

#EDITOR {
  overflow-y: hidden;
}

#TOOLBAR {
  width: 100%;
  /* padding: 15px; */
  box-sizing: border-box;
  border-bottom: 1px solid black;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  overflow:hidden;
}

@media only screen and (max-width: 800px){

  #MAIN {
    flex-flow: column;
    width: 100%;
    height:100%;
  }

  #CODE, #OUTPUT {
    width: 100%;
    height: 50%;
  }

  #CENTER {
    flex-flow: row;
  }

  #SELECTOR {
    flex-flow: row;
  }

  #TOOLS {
    flex-flow: row;    
  }

#SELECTOR button {
  border: none !important;
  border-left: 1px solid white;
}

#TOOLS button {
  border: none !important;
  border-left: 1px solid white;
}

  /* #CODE */
}